*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --pale-blue-color: hsl(225, 100%, 94%);
    --bright-blue-color: hsl(245, 75%, 52%);
    --very-pale-blue-color: hsl(225, 100%, 98%);
    --desaturated-blue-color: hsl(224, 23%, 55%);
    --dark-blue-color: hsl(223, 47%, 23%);
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pale-blue-color);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: no-repeat top left/contain url('./images/pattern-background-desktop.svg');
    z-index: -1;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    display: block;
    width: 100%;
    font-weight: 900;
    padding: 1rem;
    border-radius: 10px;
}

main {
    border-radius: 15px;
    max-width: 450px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 20px 20px hsla(224, 23%, 55%, 0.2);
}

.main-section {
    padding: 2rem 3rem;
    color: var(--desaturated-blue-color);
    font-size: 1.1rem;
}

.main-section h1 {
    font-weight: 900;
    font-size: 1.9rem;
    color: var(--dark-blue-color);
}

.main-section p {
    width: 85%;
    margin: 0 auto 1.5rem auto;
    line-height: 1.6em;
}

figure {
    margin: 0;
    padding: initial;
}

figure img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.billing-container {
    display: flex;
    align-items: center;
    background: var(--very-pale-blue-color);
    border-radius: 15px;
}

.billing-container img {
    flex: 1 1 20%;
    object-fit: none;
}

.billing-container section {
    flex: 1 1 40%;
    text-align: initial;
    font-size: 1.1rem;
}

.billing-container section h4 {
    margin: 0 0 0.4rem 0;
    font-weight: 900;
    color: var(--dark-blue-color);
}

.billing-container a {
    flex: 1 1 20%;
    text-decoration: underline var(--bright-blue-color);
    color: var(--bright-blue-color);
    font-weight: 700;
    font-size: 0.9rem;
}

.buttons {
    margin-top: 2rem;
    font-size: 1rem;
}

.button.proceed {
    color: var(--very-pale-blue-color);
    background: var(--bright-blue-color);
    margin-bottom: 1rem;
    box-shadow: 0px 16px 15px hsla(245, 75%, 52%, 0.2);
}

.button.cancel {
    color: var(--desaturated-blue-color);
}

@media (max-width: 500px) {
    main {
        width: 90%;
    }

    body::before {
        background-image: url('./images/pattern-background-mobile.svg');
    }

    .main-section {
        padding: 1rem 1.5rem;
    }

    .main-section h1 {
        font-size: 1.5rem;
    }

    .main-section p {
        width: 90%;
        font-size: 1rem;
    }

    .billing-container {
        padding: 0.5rem;
    }

    .billing-container section {
        margin-left: 5px;
    }

    .billing-container section h4 {
        font-size: 1rem;
        margin-bottom: 2px;
    }

    .billing-container section span {
        font-size: 1rem;
    }
}
